.header {
  font-size: 24px;
  text-align: center;
  margin: 20px 0;
}

/* Table header style */
.table-header {
  font-weight: bold;
}

/* Image style */
.image {
  width: 50px;
}
button {
  width: 75px !important;
}

.form-group label {
  color: black;
}
.container h1 {
  color: white;
}
.btns {
  display: flex;
  justify-content: space-between;
}
.addBtn {
  width: 13% !important;
}
